In [4]:
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
df=pd.read_csv('/content/StudentsPerformance.csv')
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group C,some high school,free/reduced,none,0,17,10
1,female,group B,high school,free/reduced,none,8,24,23
2,female,group B,some high school,free/reduced,none,18,32,28
3,female,group B,some college,standard,none,11,38,32
4,female,group C,some college,free/reduced,none,22,39,33
...,...,...,...,...,...,...,...,...
995,male,group E,some college,standard,completed,99,87,81
996,male,group A,some college,standard,completed,100,96,86
997,male,group D,some college,standard,completed,100,97,99
998,male,group E,associate's degree,free/reduced,completed,100,100,93
999,male,group E,bachelor's degree,standard,completed,100,100,100


1.Number of males and females participated in the test.

In [6]:
df['gender'].value_counts()

female    518
male      482
Name: gender, dtype: int64

2.Students parental level of education

In [7]:
df['parental level of education'].value_counts()

some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: parental level of education, dtype: int64

3.Scores the most on average for math, reading and writing based on gender and  Test preparation course

In [8]:
#average score
df['Average score']=(df['math score']+df['writing score']+df['reading score'])/3
df['Average score']

0        9.000000
1       18.333333
2       26.000000
3       27.000000
4       31.333333
          ...
995     89.000000
996     94.000000
997     98.666667
998     97.666667
999    100.000000
Name: Average score, Length: 1000, dtype: float64

In [9]:
#Average score v/s gender
df.groupby('gender')[['Average score']].mean()

        Average score
gender
female      69.478121
male        65.937759

***Female gender has higher average score than Male gender***

In [10]:
#Average score v/s test preparation course
df.groupby('test preparation course')[['Average score']].mean()

                         Average score
test preparation course
completed                    72.942272
none                         64.888370

***Students who have completed the test preparation course have higher marks than the ones who did not***

4.The scoring variation for math, reading and writing based on Gender and Test preparation course

In [11]:
#The scoring variation based on Gender
df.groupby('gender')[['Average score']].var()

        Average score
gender
female     216.195845
male       192.326448

***Female's score has high variability so less consistent***

In [12]:
#The scoring variation based on Test preparation course
df.groupby('test preparation course')[['Average score']].var()

                         Average score
test preparation course
completed                   167.527315
none                        207.014214

***Students who have completed the test preparation course have lower variability than the ones who did not. so they have higher consistency in marks***

5.The top 25% of
students based on their math score

In [13]:
from scipy.stats import ttest_1samp

In [20]:
df['math score'].quantile(0.75)

77.0

In [41]:
best25=df['math score'].quantile(q=0.75)
df[df['math score'].ge(best25)]['math score']

414     77
415     77
416     77
417     77
418     77
      ...
995     99
996    100
997    100
998    100
999    100
Name: math score, Length: 255, dtype: int64